Art/ayu_0.3_C_3_500.jpg
Art/ayu_0.8_C_2_500.jpg
Art/ayu_0.45_C_3_500.jpg
Art/ayu_0.65_C_2_500.jpg
Art/ayu.jpg
Art/bring.py
Art/canny.py
Art/edge.py
Art/Final_images/ayu_0.8_C_2_500.jpg
Art/Final_images/ayu_0.45_C_3_500.jpg
Art/Final_images/ayu_0.65_C_2_500.jpg
Art/Final_images/contoured_ayu_0.3_C_3_500.jpg
Art/Final_images/contoured_ayu_0.65_C_2_500 copy.jpg
Art/Final_images/contoured_ayu_0.65_C_2_500_2.jpg
Art/Final_images/contoured_ayu_0.65_C_2_500_3.jpg
Art/Final_images/contoured_ayu_0.65_C_2_500.jpg
Art/Final_images/overlay_result_1.jpg
Art/Final_images/overlay_result_3.jpg
Art/Final_images/overlay_result_4.jpg
Art/Final_images/overlay_result.jpg
Art/Final_images/randomized_image.jpg
Art/contoured/contoured_ayu_0.3_C_3_500.jpg
Art/contoured/contoured_ayu_0.8_C_2_500.jpg
Art/contoured/contoured_ayu_0.45_C_3_500.jpg
Art/contoured/contoured_ayu_0.65_C_2_500_3.jpg
Art/contoured/contoured_ayu.jpg
Art/WhatsApp Image 2024-01-29 at 16.05.28_57a7c1e6.jpg
